# Created by http://www.gitignore.io

#Cache
.vscode/
.git/

#Files
assets/favicon1.ico/
assets/images/old/
assets/images/portolio/gif/old/
assets/images/portolio/photos/old/
assets/images/portolio/screenshots/old/
assets/videos/old/