#portfoliopage
  .header
    &::after
      visibility: hidden

  .video-background  
    background: #000 
    position: absolute
    top: 0
    right: 0  
    bottom: 0 
    left: 0
  
  .video-foreground
    padding-bottom: 56.25% /* 16:9 */

  .video-foreground, 
  .video-background iframe
    position: absolute
    top: -30px
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    opacity: 0.5

  .video-foreground, 
  .video-background .player
    position: absolute
    top: -30px
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    opacity: 0.5
  
  #content
    position: relative
    z-index: 1

  .sub-title
    font-size: 54px
    font-weight: 700
    letter-spacing: 0.5625em
    bottom: 50px
    color: #FFFAF0
    text-align: center
    position: relative
    z-index: 200

  //Portfolio
  .portfolio
    .menu
      position: static
    &__item
      &-1
        background: url(/portfolio/assets/images/portfolio/screenshots/video-clip-1.webp)
        background-size: cover
        background-position-x: center
      &-2
        background: url(/portfolio/assets/images/portfolio/gif/egypt_warrior.gif)
        background-size: cover
      &-3
        background: url(/portfolio/assets/images/portfolio/screenshots/inst_retro_promo.webp)
        background-size: cover
      &-4
        background: url(/portfolio/assets/images/portfolio/photos/ps-retouch-1.webp)
        background-size: cover
        background-position-x: center
      &-5
        background: url(/portfolio/assets/images/portfolio/screenshots/creative_logo_animation.webp)
        background-size: cover      
        background-position-x: center
      &-6
        background: url(/portfolio/assets/images/portfolio/screenshots/dermaviduals.webp)
        background-size: cover
        background-position-x: center
      &-7
        background: url(/portfolio/assets/images/portfolio/screenshots/wedding-ceremony.webp)
        background-size: cover
        background-position-y: center
      &-8
        background: url(/portfolio/assets/images/portfolio/screenshots/test_explainer_video_voiceover.webp)
        background-size: cover
        background-position-y: center
      &-9
        background: url(/portfolio/assets/images/portfolio/screenshots/christmas.webp)
        background-size: cover
        background-position-x: center
        background-position-y: center
      &-10
        background: url(/portfolio/assets/images/portfolio/photos/ps-bg-remove-white.webp)
        background-size: cover
        background-position-x: center
        background-position-y: center
      &-11
        background: url(/portfolio/assets/images/portfolio/screenshots/book_preview.webp)
        background-size: cover
        background-position-y: center
      &-12
        background: url(/portfolio/assets/images/portfolio/gif/2d_landscape_animate.gif)
        background-size: cover
        background-position-x: center
        background-position-y: center
      &-13
        background: url(/portfolio/assets/images/portfolio/photos/ps-retouch-2.webp)
        background-size: cover
        background-position-x: center
        background-position-y: center
      &-14
        background: url(/portfolio/assets/images/portfolio/screenshots/yetta-2.webp)
        background-size: cover
        background-position-x: center
      &-15
        background: url(/portfolio/assets/images/portfolio/screenshots/yetta-1.webp)
        background-size: cover
        background-position-x: center
      &-16
        background: url(/portfolio/assets/images/portfolio/screenshots/instagram_video.webp)
        background-size: cover
        background-position-x: center
  

  // FOOTER
  .footer
    background-color: #000
    &-wrapper
      position: inherit
    &__title
      position: inherit
      z-index: inherit
      & a
        color: #FFFAF0
    &__socials
      display: flex
      background: #FFFAF0
      border-radius: 5px
      padding: 5px 5px
      position: inherit
      z-index: inherit
      & .icon
        margin: 0 5px
  .fa
    &-youtube
      &::after
        font-size: 11px