@media (min-aspect-ratio: 16/9)
  #portfolio .video-foreground 
    height: 300% 
    top: -100%

@media (max-aspect-ratio: 16/9)
  #portfolio .video-foreground 
    width: 300% 
    left: -100%

@media (max-width: 1199.98px)

  .container
    max-width: 960px

  .menu
    &-right
      &__link
        font-size: 20px


  .portfolio
    &__item
      .overlay
        &__text
          margin-left: 20px
        &__skill
          &-list .overlay__skill-item:nth-child(4)
            position: absolute
            top: 22px

  .footer
    &-wrapper
      margin: 0 25px